PORT=3000
NODE_ENV=development

MONGO_URI=mongodb://localhost:27017/hemis_db

JWT_ACCESS_SECRET=your_access_token_secret_change_in_production
JWT_REFRESH_SECRET=your_refresh_token_secret_change_in_production

JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

COOKIE_SECRET=your_cookie_secret_change_in_production
